version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: navruzshop-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: navruzshop-redis
    restart: always
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: navruzshop-rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mongo_data:
